body{
  font-family: 'Montserrat', sans-serif;
}

nav .brand-logo{
  padding-left: 2%;
  margin-top: 0.5%;
}

.sidepic:hover{
  opacity: 0.6;
}

.hide {
  display: none !important;
}

#map {
  height: 600px;
  width: inherit;
  padding: 5% 5% 0 5%;
 }

#slogan-btn img{
  opacity: 0.6;
}
