.hide {
  display: none !important;
}

body{
  font-family: 'Montserrat', sans-serif;
}

nav .brand-logo{
  padding-left: 2%;
  margin-top: 0.5%;
}

#map {
  height: 600px;
  width: inherit;
  padding: 5% 5% 0 5%;
 }